Repository Ryang20718/pvmp: changes, and which Codecov flags are due for each by the changed paths.
All: onboard, repo

.codecov.yml:

coverage:
  status:
    project:
      onboard:
        target: 10
        flags:
          - onboard
      repo:
        target: 10
        flags:
          - repo

comment: true

flags:
  onboard:
    paths:
      - example/implementation.py
      - example/implementation_test.py
  repo:
    paths:
      - non_example/example.py
      - non_example/example_test.py

test
  .codecov.yml
  .github/workflows/ci.yml
  non_example/example.py
  non_example/example_test.py
  on_coverage.dat
  repo_coverage.dat
Due: repo

test
  .codecov.yml
  example/BUILD.bazel
  example/implementation.py
  example/implementation_test.py
  non_example/BUILD.bazel
  non_example/example.py
  on_coverage.dat
  repo_coverage.dat
Due: onboard, repo

test
  .codecov.yml
  .github/workflows/ci.yml
  example/implementation.py
  non_example/example.py
  on_coverage.dat
  repo_coverage.dat
Due: onboard, repo

test
  .github/workflows/ci.yml
  example/implementation.py
  non_example/example.py
  repo_coverage.dat
Due: onboard, repo

test
  example/implementation.py
  non_example/example.py
  repo_coverage.dat
Due: onboard, repo

test
  example/implementation.py
  non_example/example_test.py
  on_coverage.dat
  repo_coverage.dat
Due: onboard, repo

update ci
  .github/workflows/ci.yml
Due: none

test
  .github/workflows/ci.yml
Due: none

rename
  .github/workflows/ci.yml
Due: none

test
  .codecov.yml
Due: none

test
  example/implementation.py
  non_example/example.py
Due: onboard, repo

t
  .codecov.yml
  on_coverage.dat
  repo_coverage.dat
Due: none

update codecov yaml
  .codecov.yml
Due: none

file not in repo
  .codecov.yml
  .github/workflows/ci.yml
  example/implementation.py
  on_coverage.dat
Due: onboard

test
  .codecov.yml
  .github/workflows/ci.yml
Due: none

add coverage downgrade
  example/implementation.py
  non_example/example.py
  on_coverage.dat
  repo_coverage.dat
Due: onboard, repo

rename
  .codecov.yml
Due: none

flag
  example/implementation.py
  non_example/example.py
  on_coverage.dat
  repo_coverage.dat
Due: onboard, repo
